<!DOCTYPE html>
<html>
	<head>
	<title>polls-login</title>
	</head>
	<body>
		{% if not user.is_authenticated %}
		<h1>Login to Polls</h1>
		<form id='login-form' method='post' action='/polls/login/'>
		{% csrf_token %}
		Username: <input type='text' name='username' value='' size='50'/><br/>
		Password: <input type='password' name='password' value'' size='50'/><br/>
		
		<input type="submit" value="submit"/>
		</form>
		Don't have an account? <a href="/polls/register">Register here</a>
		{% else %}
		<h1>Already logged in as {{user.username}}</h1>
		<a href="/polls/logout/">LogOut</a>
		<a href="/polls/">Home</a>
		{% endif %}
	</body>
</html>
